body {
    margin:0;
    font-family: 'Nanum Gothic', sans-serif;
  }
  
  [class^="background_"] {
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .background_1 {
    display: flex;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
  }
  
  .background_2 {
    background-color: pink;
    height: 100vh;
    width: 100vw;
  }
  
  .question_background {
    width: 70vw;
    height: 80vh;
    background-color: black;
    opacity: 0.6;
  }
  
  .question_box {
    position: absolute;
    width: 70vw;
    height: 80vh;
    flex-direction: column;
  }
  
  .question_box h3 {
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label img {
    width: 40%;
    margin-bottom: 15px;
    border: 3px solid rgba(255,0,0,0);
  }
  
  input[type="radio"]:checked + label img {
    border: 3px solid blue;
  }
  
  .question_options {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .question_options label {
    display: flex;
    justify-content: center;
  }
  
  [class^="button_"] {
    width: 40%;
    position: absolute;
    bottom: 20px;
  }
  
  .button_check {
    background: transparent;
    color: white;
    border: 2px solid red;
    left: 5%
  }
  
  .button_next {
    display: none;
    background: transparent;
    color: white;
    border: 2px solid green;
    right: 5%;
  }

  .question_options input[type="text"] {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
  }

  .question_options span {
    color: white;
  }

  .question_options div {
    margin-left: 10px;
    margin-right: 10px;
  }